{% extends 'base.html'%}
{% load static %}
{% block title %}About{% endblock title %}
{% block content %}

<p style="text-indent:30px"><i>National Hospital, one of the earliest hospitals in Malabar, has been in service to the cause of health for nearly half a century. This 400 bedded super-specialty hospital, most strategically situated in the heart of the city at Mavoor Road junction,Kozhikode, is well equipped to handle medical emergencies and is considered to be one of the best referral hospitals in the region. The easy accessibility to the hospital by road, rail and air and the team of well qualified and dedicated doctors and paramedical staff make it a preferred health care destination.
The team at National Hospital has a fantastic set of expertise to overcome complex diseases. The highly trained professionals utilize advanced diagnostic/medical equipment and laboratories for the assessment process, leading to an accurate diagnosis and, eventually, a successful treatment plan.
The National Hospital has a history and reputation of reliable services dealing with Benign, Malignant, Anti-inflammatory, Body Mass Index, Biopsy, Hypertension, Edema, Malignant and other medical illnesses.
</i></p>
<div class="row">
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body bg-success">
          <h5 class="card-title">Executive Health Care at
            National Hospital</h5>
          <p class="card-text">The National Hospital is an extensive multidisciplinary facility of health care services. Acknowledged as a leading training and medical center in Malabar, The National Hospital consistently provides admirable medical services through advanced treatment approaches and state-of-the-art technology.</p>
          
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="card">
        <div class="card-body bg-success">
          <h5 class="card-title">Our Specialities</h5>
          <p class="card-text"><ul><li>Advanced technology</li>
            <li>Luxury rooms</li>
            <li>Efficient Nursing Staff</li>
            <li>Research based treatments</li>
            <li>Reliable surgical services</li>
           <li> Highly Equipped OTs and Wards</li>
            <li>24/7 Emergency Services.</li></p>
          
        </div>
      </div>
    </div>
  </div>

{% endblock content %}